iframe{
    margin:0px;
    height:45.11rem;
    width: 99.8%;
    margin-bottom: 0px;
  
}

body
{
    margin:0px;
}


img{
    width: 120px;
    height: 45px;
    position: absolute;
    margin-left: 45% ;
    top:1px;
}

button{
    margin-left: 14%;
    position: absolute;
    padding: 0.5%;
    top:9px;
    background-color: aquamarine;
    width: 70px;
    border: none;
}

button:hover{
    background-color:white;
}